* {
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0px;
}

#about-me {
    margin-left: 15px;
    margin-right: 20%;
    max-width: 600px;
    text-align: justify;
}

#contact {
    background-color: #001220;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

#contact p {
    color: white;
    font-weight: bold;
    margin: 0px;
}

#contact-links img {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}

#github-image {
    height: 100px !important;
    width: 100px !important;
}

#linkedin-image {
    height: 142px !important;
    width: 142px !important;
}

#photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#photo-container{
    margin-left: 20%;
}

#photo img {
    height: max(325px);
    border-radius: 8px;
    margin-right: 20px;
}

#portafolio-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#portafolio-container section {
    display: grid;
}

#presentation {
    background-color: #001220;
    display: flex;
    flex-direction: column;
    padding: 250px 20vh;
    position: relative;
}

#presentation-title {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#punch-line {
    color: rgb(255, 255, 255);
    font-size: 40px;
}



#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
}

.project {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px; 
    transition: transform 0.3s ease; 
}

.project img {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.project h3 {
    padding: 20px;
}

.project-info {
    padding: 20px;
}

.project-info p {
    margin-bottom: 20px;
}

.view-btn {
    background-color: #001220;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.view-btn:hover {
    background-color: #001220;
}

.project:hover {
    transform: scale(1.05);
}

.titles{
    margin: auto;
    padding-left: 10%;
    color: #001220;
    margin: 4px 20vh;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 3px #c1c1c1;
}


#skills {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 10px; 
    justify-content: flex-start; 
    margin-left: 20%; 
    margin: auto;
    margin-bottom: 15px;
}

.skill {
    background-color: #001220; 
    border-radius: 20px; 
    color: white; 
    padding: 10px 15px; 
    margin: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: calc(50% - 10px); 
}

.skill:hover {
    background-color: #73278a; 
    transform: scale(1.05); 
}






.rain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%; 
    pointer-events: none;
}

.drop {
    position: absolute;
    background: rgba(255, 255, 255, 0.7); /* Color de las gotas */
    border-radius: 50%; /* Cambia a un círculo */
    width: 6px; /* Aumenta el ancho para parecerse más a gotas */
    height: 12px; /* Ajusta la altura para un efecto de gota */
    animation: fall linear infinite;
    z-index: 1; /* Asegura que las gotas estén detrás del paraguas */
}


@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

header {
    position: relative;
    overflow: hidden;
}

.umbrella {
    position: absolute;
    font-size: 50px; /* Ajusta el tamaño del paraguas */
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s; /* Transición suave */
    pointer-events: none; /* No interfiera con el cursor */
}


header:hover .umbrella {
    opacity: 1; /* Muestra el paraguas al pasar el cursor */
}

